*~

/papers/*.pdf
/papers/MemoryModels/*.pdf
*.aux
*.log
*.cut
*.log
*.fls
*.fdb_latexmk
TAGS
*.hi
*.o
*.agdai
*.ibc
*.tex
!POPL15.tex
!papers/MemoryModels/mem.tex
*.bbl
*.blg
*.ptb
*.out
*.pag
Shake
.shake.database
.diagrams_cache
papers/diagrams/*.pdf
papers/diagrams/*.eps
papers/diagrams/*.hs
papers/MemoryModels/diagrams/*.pdf
papers/MemoryModels/diagrams/*.eps
papers/MemoryModels/diagrams/*.pgf
papers/MemoryModels/diagrams/*.hs
dist/
latex/
JFP LaTeX files/
.hsenv*
dist*
*.errors
papers/TempDiagram.*

.cabal-sandbox
cabal.sandbox.config

.stack-work
stack.yaml.lock